h1 {
    display: flex;
    align-self: baseline;
    margin: 50px;
    padding: 25px;
    border-radius: 10%;
    background-color: #bbb;
    max-width: 200px;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: baseline;
}

.game img {
    max-width: 100px;
}

.game button {
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0);
}